.transaction {
  max-width: 30rem;
  min-width: 30rem;
  border: 0.1rem solid lightgray;
  border-radius: 5px;
  padding: 1rem;
  background-color: white;

  &_title {
    font-weight: bold;
    font-size: x-large;
    border-bottom: 1px solid black;
    margin-bottom: 1.5rem;
  }

  &_label {
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 6rem;
    margin-right: 0.2rem;
    padding-bottom: 0.3rem
  }

  &_select {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    width: 20%;

    &_wide {
      width: 75%;
    }
  }

  &_input {
    margin-bottom: 1rem;
  }
  input {
    width: 40%;
    padding-left: 0.5rem;
    font-size: large;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-appearance: none;
  }

  &_button {
    display: block;
    width: 100%;
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}

.checkbook-small .transaction {
  width: 90%;

  &_label {
    display: block;
    text-align: left;
    margin-bottom: auto;
    width: 10rem;
  }

  &_select {
    width: 26%;

    &_wide {
      width: 75%;
    }
  }

  input {
    width: 73%;
    padding-left: 0.5rem;
    font-size: large;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-appearance: none;
  }

}