.transaction {
    border: 0.1rem solid lightgray;
    border-radius: 5px;
    padding: 2rem;
    background-color: white;

  &_title {
    font-weight: bold;
    font-size: x-large;
    border-bottom: 1px solid black;
    margin-bottom: 1.5rem;
  }
  &_label {
    font-weight: bold;
    &-date {
      margin-right: 4rem;
    }
    &-amount {
      margin-right: 2.5rem;
    }
    &-description {
      margin-right: 1.1rem;
    }
    &-transaction {
      margin-right: 1.0rem;
    }
    &-account {
      margin-right: 2.5rem;
    }
  }
  &_row {
    margin-bottom: 1rem;
  }

  &_month {
    width: 4rem;
    margin-right: 0.5rem;
  }
  &_day {
    width: 3rem;
    margin-right: 0.5rem;
  }

}