<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <div id="beatty"></div>
    <% const scripts = htmlWebpackPlugin.options.externalScript; %>
        <% scripts.forEach(function(script) { %>
            <script src="<%= script %>"></script>
        <% })%>
    <% const chunks = htmlWebpackPlugin.files.chunks %>
    <% for (const key in chunks) { %>
        <% const entry = chunks[key].entry; %>
        <script type="text/javascript" src="<%= entry %>"></script>
    <% } %>
</body>
</html>
